body{
    
    background-color: rgb(237, 248, 248);
    overflow: hidden;
    padding-inline: 60px;
}
.header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    font-weight: bold;
}
nav{
    display: flex;
    gap: 40px;
    font-size: 27px;
}
nav a{
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
    border-bottom:  0px solid;
}
nav a:hover{
    border-bottom: 3px solid;
    color:rgb(55, 43, 226) ;
    font-weight: bold;
}
.theme .round_box{
    width: 55px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-around;;
    border: solid thin;
    border-radius: 14px;
    background-color: black;
}
.theme .round_box svg:nth-child(2){
    border-radius: 50%;
    background-color: aliceblue;
}
.main_body{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main_body h2{
    text-transform: uppercase;
    font-size: 18px;
}
.big_txt{
    font-size: 90px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.span1{
    font-size: 23px;
    margin: 20px 0px;
}
.btns_box{
    display: flex;
    gap: 50px;
    align-items: center;
}
.btns_box span{
    font-size: 25px;
    color:  rgb(55, 43, 226);
    text-decoration: underline;
    font-weight: bold;
    transition: all 1s ease;
}
.btns_box .btn{
    padding: 15px 30px;
    border-radius: 10px;
    background-color: rgb(55, 43, 226);
    color: white;
    text-decoration: none;
}
.btns_box span:hover{
    cursor: pointer;
}
.small_txts{
    display: flex;
    align-items: center;
}
.small_txts span{
    font-size: 22px;
    margin-top: 40px;
}
.small_txts svg{
    transform: translateY(20px);
    margin-left: 30px;
}

.left{
    display: flex;
    align-items: center;
}
@media (max-width:760px)  {
    body{
        padding-inline: 10px;
        height: 100vh;
        overflow: visible;
    }
    nav,.theme{
        display: none;
    }
   .main_body{
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 40px;
   } 
   .right{
    width: 100%;
   }
   .big_txt{
    font-size: 50px;
   }
   .left{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 30px;
   }
   .left img{
    width: 300px;
    display: inline;
   }
   .span1 {
    font-size: 20px;
    margin: 20px 0px;
    color: grey;
}
.btns_box{
    gap: 20px;
}
.btns_box .btn{
    padding: 20px 30px;
    font-size: 23px;
    margin-top: 20px;
}
.small_txts{
    justify-content: space-between;
}
.small_txts svg{
    margin: 0px;
}
.small_txts span{
    font-size: 17px;
}
} 